<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hardCarry.shopping.dao.ProductDAO">
	<select id="selectAll" resultType="Product">
		SELECT *
		FROM `MEMBER`
	</select>

	<select id="selectById" resultType="Product"
		parameterType="string">
		SELECT *
		FROM `MEMBER`
		WHERE m_id = #{id}
	</select>
	<select id="selectByPwId" resultType="Product"
		parameterType="Product">
		 <![CDATA[
		SELECT *
		FROM `MEMBER`
		WHERE m_id <= #{m_id}
		AND m_pw = #{m_pw}
		]]>
	</select>
	
	<insert id="insertMember" parameterType="Product">
		INSERT INTO `MEMBER` values (#{m_id},#{m_pw},222,'ewew','ewqewe',22,3);
	</insert>
	
</mapper>